{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FitFlow</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Polices personnalisées -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- CSS du thème -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <!-- Ajouter éventuellement des aides - bouton, vignette et/ou média -->
    <link rel="{% static 'stylesheet" href="vendor/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'vendor/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css' %}">
    
    <!-- Support HTML5 Shim et Respond.js pour le support d'IE8 des éléments HTML5 et des requêtes multimédias -->
    <!-- AVERTISSEMENT : Respond.js ne fonctionne pas si vous visualisez la page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="page about">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Marque et bascule regroupés pour un meilleur affichage mobile -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Basculer la navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collecte des liens de navigation, des formulaires et d'autres contenus pour le basculement -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                <li>
                        <a class="page-scroll" href="{% url 'SalleDeSport:home' %}">Accueil</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="{% url 'SalleDeSport:about' %}">À propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'SalleDeSport:coaches' %}">Instructeurs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'SalleDeSport:schedule' %}">Planning</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'SalleDeSport:contact_us' %}">Contact</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="{% url 'account:login' %}">Portail Membre</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- SECTION DES ENTRAÎNEURS -->
    <section class="about_cont">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <img src="{% static 'img/big_img.jpg' %}" class="img-responsive" alt="">
                  <h4>Natation et les CrossFit Games:<span>Pourquoi est-ce le point faible de tout le monde?</span></h4>
                  <p>Un regard sur l'effet de la consommation modérée d'alcool sur la forme physique et la santé.</p>
                  <p>Il y a quelques années, j'ai arrêté de boire de l'alcool du dimanche au jeudi.</p>
                  <p>Je n'ai jamais été un grand buveur, donc ce n'était pas une transition difficile pour moi. Pour moi, deux boissons, c'est se lâcher un peu et trois, c'est vraiment devenir fou, mais quelques soirs par semaine, je buvais une bière ou un verre de vin en cuisinant. Une fois que j'ai commencé le CrossFit, je me suis demandé quel impact auraient ces cinq ou six boissons par semaine sur ma santé et mes performances à la salle de sport.</p>
                  <p>Il s'avère que mes années d'abstinence partielle ont peut-être été inutiles. De plus en plus d'études suggèrent que la consommation modérée d'alcool peut améliorer la santé cardiovasculaire, et des recherches récentes suggèrent que quelques verres n'ont aucun impact négatif sur les performances sportives. Cependant, l'alcool a des effets significatifs sur le corps, surtout lorsqu'il est consommé en excès.</p>
                  <img src="{% static 'img/big_img2.jpg' %}" class="img-responsive" alt="">
                  <p>Un regard sur l'effet de la consommation modérée d'alcool sur la forme physique et la santé.</p>
                  <p>Il y a quelques années, j'ai arrêté de boire de l'alcool du dimanche au jeudi.</p>
                  <p>Je n'ai jamais été un grand buveur, donc ce n'était pas une transition difficile pour moi. Pour moi, deux boissons, c'est se lâcher un peu et trois, c'est vraiment devenir fou, mais quelques soirs par semaine, je buvais une bière ou un verre de vin en cuisinant. Une fois que j'ai commencé le CrossFit, je me suis demandé quel impact auraient ces cinq ou six boissons par semaine sur ma santé et mes performances à la salle de sport.</p>
                  <p>Il s'avère que mes années d'abstinence partielle ont peut-être été inutiles. De plus en plus d'études suggèrent que la consommation modérée d'alcool peut améliorer la santé cardiovasculaire, et des recherches récentes suggèrent que quelques verres n'ont aucun impact négatif sur les performances sportives. Cependant, l'alcool a des effets significatifs sur le corps, surtout lorsqu'il est consommé en excès.</p>
              </div>
          </div>
      </div>
    </section>
    <!-- Section des articles -->
    <section class="articles">
        <div class="text-center">
            <h2>articles intéressants</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <img src="{% static 'img/image1.png' %}" class="img-responsive" alt="" />
                        <a href="#">Natation et les CrossFit Games: Pourquoi est-ce le point faible de tout le monde?</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <img src="{% static 'img/image12.jpg' %}" class="img-responsive" alt="" />
                        <a href="#">Un film dans le parc:<br />Kung Fu Panda</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <img src="{% static 'img/image11.jpg' %}" class="img-responsive" alt="" />
                        <a href="#">Un film dans le parc:<br />Kung Fu Panda</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="image">
                        <img src="{% static 'img/image2.png' %}" class="img-responsive" alt="" />
                        <a href="#">Un film dans le parc:<br />Kung Fu Panda</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <img src="{% static 'img/image13.jpg' %}" class="img-responsive" alt="" />
                        <a href="#">Un film dans le parc:<br />Kung Fu Panda</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons text-center">
            <a href="#" class="">&laquo;Nouveaux articles</a>
            <a href="#">Articles plus anciens&raquo;</a>
        </div>
    </section>
    <!-- Section des articles -->
    <!-- SECTION DES ENTRAÎNEURS -->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="title">
                        <div class="icon"><img src="{% static 'img/map_icon1.png' %}" alt=""></div>
                        <h3>Où <span>nous trouver</span></h3>
                    </div>
                    <p>
                        <span>Casablanca</span>
                        <span>Boulevard Ghandi</span>
                        <span>Rue 12, 2200</span>
                    </p>
                    <p>
                        <span>téléphone: <b>+4235 4366 13</b></span>
                        <span>e-mail: <b>exemple@exemple.com</b></span>
                    </p>
                    
                </div>
                <div class="col-md-3">
                    <div class="title">
                        <div class="icon"><img src="{% static 'img/map_icon2.png' %}" alt=""></div>
                        <h3>carte <span>cadeau</span></h3>
                    </div>
                    <p>Voici un cadeau qui déchire vraiment. Saviez-vous qu'une grande partie de la recherche en psychologie prouve que les expériences rendent les gens plus heureux que les possessions?</p>
                </div>
                <div class="col-md-3">
                    <div class="title">
                        <div class="icon"><img src="{% static 'img/map_icon3.png' %}" alt=""></div>
                        <h3>Quand <span>nous visiter</span></h3>
                    </div>
                    <p>Commençons!</p>
                    <p>Visitez pendant les heures de présence du personnel ou appelez pour prendre un rendez-vous dès aujourd'hui!</p>
                </div>
                <div class="col-md-3">
                    <div class="title">
                        <div class="icon"><img src="{% static 'img/map_icon4.png' %}" alt=""></div>
                        <h3>gratuit <span>visite gratuite</span></h3>
                    </div>
                    <p>Chaque membre reçoit un plan de démarrage personnalisé gratuit lorsqu'il adhère. Notre personnel amical et professionnel est formé pour vous aider tout au long de votre parcours de remise en forme</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom_links">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 links">
                    <p>c'est bien de partager:</p>
                    <ul>
                        <li><img src="{% static 'img/social1.png' %}" alt=""></li>
                        <li><img src="{% static 'img/social2.png' %}" alt=""></li>
                        <li><img src="{% static 'img/social3.png' %}" alt=""></li>
                        <li><img src="{% static 'img/social4.png' %}" alt=""></li>
                        <li><img src="{% static 'img/social5.png' %}" alt=""></li>
                        <li><img src="{% static 'img/social6.png' %}" alt=""></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p>élu « meilleur club de fitness de la ville »</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/jquery.fancybox.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>

    <!-- JavaScript du thème -->
    <script src="{% static 'js/creative.js' %}"></script>

</body>

</html>
