{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}Base{% endblock %}</title>
    {% block css %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!----css3---->
    <link rel="stylesheet" href="{% static 'css/stylesbootstap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/planning.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"> 
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    {% if user.is_authenticated %}  

    <div class="wrapper">


        <div class="body-overlay"></div>
        
        <!-------------------------sidebar------------>
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="{% static 'img/hestim.jpeg' %}" class="img-fluid"/><span>PISTE</span></h3>
            </div>
            <ul class="list-unstyled components">
                <li  class="active">
                    <a href="#" class="dashboard"><i class="material-icons">dashboard</i>
                    <span>Mes Informations</span></a>
                </li>
        
                <li class="active">
                    <a href="{% url 'SalleDeSport:list_abonnement' membre.id %}" class="dashboard">
                    <i class="material-icons">equalizer</i>
                
                    <span>Mon Abonnement</span></a>
                </li>

                <li class="active">
                    <a href="#" class="dashboard">
                    <i class="material-icons">aspect_ratio</i>Mes Cours</a>
                </li>
                
                <li class="active">
                    <a href="#" class="dashboard">
                    <i class="material-icons">apps</i><span>Mes réservations</span></a>
                </li>
                
            
                </li>
                <li class="active">
                    <a href="{% url 'account:edit_password' membre.id %}" class="dashboard">
                    <i class="material-icons">extension</i><span>Modifier mon Mot de Passe</span></a>

                </li>

                <li  class="active">
                    <a href="{% url 'SalleDeSport:planning' membre.id %}" class="dashboard"><i class="material-icons">library_books</i><span>Planning des Séances</span></a>
                </li>
            </ul>  
        </nav>
    </div>

    <div id="content">
           
        <!--top--navbar----design--------->
           
        <div class="top-navbar">
            <div class="xp-topbar">

                <!-- Start XP Row -->
                <div class="row"> 
                    <!-- Start XP Col -->
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                        <div class="xp-menubar">
                               <span class="material-icons text-white">signal_cellular_alt</span>
                         </div>
                    </div> 
                    <!-- End XP Col -->

                    <!-- Start XP Col -->
                    <div class="col-md-5 col-lg-3 order-3 order-md-2">
                        <div class="xp-searchbar">
                            <form>
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit" id="button-addon2">'GO'</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End XP Col -->

                    <!-- Start XP Col -->
                    <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                        <div class="xp-profilebar text-right">
                            <nav class="navbar p-0">
                                <ul class="nav navbar-nav flex-row ml-auto">   
                                    <li class="dropdown nav-item active">
                                        <a href="#" class="nav-link" data-toggle="dropdown">
                                            <span class="material-icons">notifications</span>
                                            <span class="notification">4</span>
                                        </a>
                                    
                            
                                        <ul class="dropdown-menu">
                                            <li><a href="#">You have 5 new messages</a></li>
                                            <li> <a href="#">You're now friend with Mike</a></li>
                                            <li><a href="#">Wish Mary on her birthday!</a></li>
                                            <li><a href="#">5 warnings in Server Console</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <span class="material-icons">question_answer</span>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" data-toggle="dropdown">
                                            <img src="{% static 'img/user.jpg' %}" style="width:40px; border-radius:50%;"/>
                                            <span class="xp-user-live"></span>
                                        </a>
                                        <ul class="dropdown-menu small-menu">
                                            <li><a href="{% url 'SalleDeSport:profile' membre.id %}"><span class="material-icons">person_outline</span>Profile</a></li>
                                            <li><a href="#"><span class="material-icons">settings</span>Settings</a></li>
                                            <li><a href="{% url 'account:logout' %}"><span class="material-icons">logout</span>Logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                                
                        </div>
                    </div>
            

                </div>
                 <div class="xp-breadcrumbbar text-center">
                    <h4 class="page-title">Bonjour</h4>  
                      <ol class="breadcrumb">
                        <a href="{% url 'SalleDeSport:index' membre.id %}">
                        <li class="breadcrumb-item" style="color: #fff">Bienvenue | Portail Membre</li></a>
                      </ol>                
                </div>
            </div>
        </div>

       
        <div>
            {% block content %}{% endblock %}
        </div>

    

    

</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript">
            
        $(document).ready(function(){
              $(".xp-menubar").on('click',function(){
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
              });
              
               $(".xp-menubar,.body-overlay").on('click',function(){
                 $('#sidebar,.body-overlay').toggleClass('show-nav');
               });
              
            });
            
    </script>
    
<script type="text/javascript">
    $("input[type=password]").keyup(function(){
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");
        
        if($("#password1").val().length >= 8){
            $("#8char").removeClass("fa-times");
            $("#8char").addClass("fa-check");
            $("#8char").css("color","#00A41E");
        }else{
            $("#8char").removeClass("fa-check");
            $("#8char").addClass("fa-times");
            $("#8char").css("color","#FF0004");
        }
        
        if(ucase.test($("#password1").val())){
            $("#ucase").removeClass("fa-times");
            $("#ucase").addClass("fa-check");
            $("#ucase").css("color","#00A41E");
        }else{
            $("#ucase").removeClass("fa-check");
            $("#ucase").addClass("fa-times");
            $("#ucase").css("color","#FF0004");
        }
        
        if(lcase.test($("#password1").val())){
            $("#lcase").removeClass("fa-times");
            $("#lcase").addClass("fa-check");
            $("#lcase").css("color","#00A41E");
        }else{
            $("#lcase").removeClass("fa-check");
            $("#lcase").addClass("fa-times");
            $("#lcase").css("color","#FF0004");
        }
        
        if(num.test($("#password1").val())){
            $("#num").removeClass("fa-times");
            $("#num").addClass("fa-check");
            $("#num").css("color","#00A41E");
        }else{
            $("#num").removeClass("fa-check");
            $("#num").addClass("fa-times");
            $("#num").css("color","#FF0004");
        }
        
        if($("#password1").val() == $("#password2").val() && $("#password1").val() != '' ){
            $("#pwmatch").removeClass("fa-times");
            $("#pwmatch").addClass("fa-check");
            $("#pwmatch").css("color","#00A41E");
            $("input[type=submit]").prop('disabled', false);
        }else{
            $("#pwmatch").removeClass("fa-check");
            $("#pwmatch").addClass("fa-times");
            $("#pwmatch").css("color","#FF0004");
            $("input[type=submit]").prop('disabled', true);
        }
    });
</script>
    <script src="{% static 'js/custom.js' %}"></script>

{% endif %}

</body>

</html>
