{% extends "FitFlow/base.html" %}
{% load custom_filters %}

{% block title %}Profil{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="text-center mb-4">Types d'abonnements</h2>
  <div class="row">
    {% for abonnement in abonnements %}
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-header bg-dark text-white">
          {{ abonnement.nomAbon }}
          {{ abonnement.id }}
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ abonnement.description }}</h5>
          {% with abonnement_id=abonnement.id %}
          {% for avantage in avantages_par_abonnement|get_item:abonnement_id %}
            <p class="card-text">{{ avantage }}</p>
          {% endfor %}
          {% endwith %}
          <p></p>
          <a href="{% url 'SalleDeSport:choice_mode_paiement' membre.id abonnement.id %}" class="btn btn-primary mt-auto align-self-center">S'abonner</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
