{% extends "FitFlow/base.html" %}


{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
                <div class="container text-center">
                    <br>
                    <h2>Planning des séances</h2>
                </div>
                <div class="timetable-img text-center">
                    <img src="img/content/timetable.png" alt="">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr class="bg-light-gray">
                                <th class="text-uppercase">Jour
                                </th>
                                <th class="text-uppercase">09:00
                                </th>
                                <th class="text-uppercase">10:00</th>
                                <th class="text-uppercase">11:00</th>
                                <th class="text-uppercase">12:00</th>
                                <th class="text-uppercase">15:00</th>
                                <th class="text-uppercase">16:00</th>
                                <th class="text-uppercase">17:00</th>
                                <th class="text-uppercase">18:00</th>
                                <th class="text-uppercase">19:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in days %}
                            <tr>
                                <td class="align-middle">{{ day.0.get_jour_display }}</td>
                                
                                {% for x in day%}
                                
                                <td>
                                    <div class="bg-yellow border-radius-5 text-black font-size16 xs-font-size13">{{  x.cours }}</div>
                                    
                                </td>
                                
                                {% endfor %}


                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}>
