@font-face {
    font-family: 'ProximaNovaA-Bold';
    src: url('fonts/2E71BC_0_0.eot');
    src: url('fonts/2E71BC_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_0_0.woff2') format('woff2'), url('fonts/2E71BC_0_0.woff') format('woff'), url('fonts/2E71BC_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-Light';
    src: url('fonts/2E71BC_1_0.eot');
    src: url('fonts/2E71BC_1_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_1_0.woff2') format('woff2'), url('fonts/2E71BC_1_0.woff') format('woff'), url('fonts/2E71BC_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-Regular';
    src: url('fonts/2E71BC_2_0.eot');
    src: url('fonts/2E71BC_2_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_2_0.woff2') format('woff2'), url('fonts/2E71BC_2_0.woff') format('woff'), url('fonts/2E71BC_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-Semibold';
    src: url('fonts/2E71BC_3_0.eot');
    src: url('fonts/2E71BC_3_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_3_0.woff2') format('woff2'), url('fonts/2E71BC_3_0.woff') format('woff'), url('fonts/2E71BC_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-Bold';
    src: url('fonts/2E71BC_4_0.eot');
    src: url('fonts/2E71BC_4_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_4_0.woff2') format('woff2'), url('fonts/2E71BC_4_0.woff') format('woff'), url('fonts/2E71BC_4_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-Light';
    src: url('fonts/2E71BC_5_0.eot');
    src: url('fonts/2E71BC_5_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_5_0.woff2') format('woff2'), url('fonts/2E71BC_5_0.woff') format('woff'), url('fonts/2E71BC_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-Regular';
    src: url('fonts/2E71BC_6_0.eot');
    src: url('fonts/2E71BC_6_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_6_0.woff2') format('woff2'), url('fonts/2E71BC_6_0.woff') format('woff'), url('fonts/2E71BC_6_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-Semibold';
    src: url('fonts/2E71BC_7_0.eot');
    src: url('fonts/2E71BC_7_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_7_0.woff2') format('woff2'), url('fonts/2E71BC_7_0.woff') format('woff'), url('fonts/2E71BC_7_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('fonts/2E71BC_8_0.eot');
    src: url('fonts/2E71BC_8_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_8_0.woff2') format('woff2'), url('fonts/2E71BC_8_0.woff') format('woff'), url('fonts/2E71BC_8_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('fonts/2E71BC_9_0.eot');
    src: url('fonts/2E71BC_9_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_9_0.woff2') format('woff2'), url('fonts/2E71BC_9_0.woff') format('woff'), url('fonts/2E71BC_9_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/2E71BC_A_0.eot');
    src: url('fonts/2E71BC_A_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_A_0.woff2') format('woff2'), url('fonts/2E71BC_A_0.woff') format('woff'), url('fonts/2E71BC_A_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('fonts/2E71BC_B_0.eot');
    src: url('fonts/2E71BC_B_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_B_0.woff2') format('woff2'), url('fonts/2E71BC_B_0.woff') format('woff'), url('fonts/2E71BC_B_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-BoldIt';
    src: url('fonts/2E71BC_C_0.eot');
    src: url('fonts/2E71BC_C_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_C_0.woff2') format('woff2'), url('fonts/2E71BC_C_0.woff') format('woff'), url('fonts/2E71BC_C_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-LightIt';
    src: url('fonts/2E71BC_D_0.eot');
    src: url('fonts/2E71BC_D_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_D_0.woff2') format('woff2'), url('fonts/2E71BC_D_0.woff') format('woff'), url('fonts/2E71BC_D_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-RegularIt';
    src: url('fonts/2E71BC_E_0.eot');
    src: url('fonts/2E71BC_E_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_E_0.woff2') format('woff2'), url('fonts/2E71BC_E_0.woff') format('woff'), url('fonts/2E71BC_E_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaA-SemiboldIt';
    src: url('fonts/2E71BC_F_0.eot');
    src: url('fonts/2E71BC_F_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_F_0.woff2') format('woff2'), url('fonts/2E71BC_F_0.woff') format('woff'), url('fonts/2E71BC_F_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-BoldIt';
    src: url('fonts/2E71BC_10_0.eot');
    src: url('fonts/2E71BC_10_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_10_0.woff2') format('woff2'), url('fonts/2E71BC_10_0.woff') format('woff'), url('fonts/2E71BC_10_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-LightIt';
    src: url('fonts/2E71BC_11_0.eot');
    src: url('fonts/2E71BC_11_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_11_0.woff2') format('woff2'), url('fonts/2E71BC_11_0.woff') format('woff'), url('fonts/2E71BC_11_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-RegularIt';
    src: url('fonts/2E71BC_12_0.eot');
    src: url('fonts/2E71BC_12_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_12_0.woff2') format('woff2'), url('fonts/2E71BC_12_0.woff') format('woff'), url('fonts/2E71BC_12_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNovaS-SemiboldIt';
    src: url('fonts/2E71BC_13_0.eot');
    src: url('fonts/2E71BC_13_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_13_0.woff2') format('woff2'), url('fonts/2E71BC_13_0.woff') format('woff'), url('fonts/2E71BC_13_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('fonts/2E71BC_14_0.eot');
    src: url('fonts/2E71BC_14_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_14_0.woff2') format('woff2'), url('fonts/2E71BC_14_0.woff') format('woff'), url('fonts/2E71BC_14_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('fonts/2E71BC_15_0.eot');
    src: url('fonts/2E71BC_15_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_15_0.woff2') format('woff2'), url('fonts/2E71BC_15_0.woff') format('woff'), url('fonts/2E71BC_15_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url('fonts/2E71BC_16_0.eot');
    src: url('fonts/2E71BC_16_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_16_0.woff2') format('woff2'), url('fonts/2E71BC_16_0.woff') format('woff'), url('fonts/2E71BC_16_0.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-SemiboldIt';
    src: url('fonts/2E71BC_17_0.eot');
    src: url('fonts/2E71BC_17_0.eot?#iefix') format('embedded-opentype'), url('fonts/2E71BC_17_0.woff2') format('woff2'), url('fonts/2E71BC_17_0.woff') format('woff'), url('fonts/2E71BC_17_0.ttf') format('truetype');
}

@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('fonts/mark_simonson_-_proxima_nova_thin-webfont.woff2') format('woff2'), url('fonts/mark_simonson_-_proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('fonts/mark_simonson_-_proxima_nova_black-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}