{% extends "FitFlow/base.html" %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">

        </div>
        <div class="col-md-5 border-right">
            <h2>Modifier le mot de passe</h2>
            <p>Utilisez le formulaire ci-dessous pour changer votre mot de passe. Votre mot de passe ne peut pas être identique à votre nom d'utilisateur.</p><br>
            {% if message %}
              <p style="color: red">{{ message }}</p>
            {% endif %}
            <form method="post" id="passwordForm" action="{% url 'SalleDeSport:change_password' membre.id %}">
              {% csrf_token %}
              <input type="password" class="input-lg form-control" name="current_password" id="current_password" placeholder="Mot de passe actuel" autocomplete="off"><br>

              <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="Nouveau mot de passe" autocomplete="off">
             <div class="row">
              <div class="col-sm-6">
                <i id="8char" class="fas fa-times" style="color:#FF0004;"></i> 8 caractères de long<br>
                <i id="ucase" class="fas fa-times" style="color:#FF0004;"></i> Une lettre majuscule
              </div>
              <div class="col-sm-6">
                <i id="lcase" class="fas fa-times" style="color:#FF0004;"></i> One Lowercase Letter<br>
                <i id="num" class="fas fa-times" style="color:#FF0004;"></i> Une lettre minuscule
             </div>
            </div>
            <br>
            <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Répéter le mot de passe" autocomplete="off">
            <div class="row">
             <div class="col-sm-12">
              <i id="pwmatch" class="fas fa-times" style="color:#FF0004;"></i> Les mots de passe correspondent
            </div>
            </div>
              <br>
              <input type="submit" class="col-xs-12 btn btn-primary" data-loading-text="Changing Password..." value="Modifier le mot de passe" disabled>

      </form>
        </div>
  </div>
</div>
<div>



{% endblock %}